log
conf
ckpt
bazel-*
compile_commands.json
tools/actions
third_party/bazel
*.pyc
.tf_configure.bazelrc
tools/python_bin_path.sh
*.pb.h
*.pb.cc
*.user
*.VC.db
*.VC.VC.opendb
.vs
x64
x86
Release
Debug
.clang
/scripts/zero.ckpt-20b-v1.uff
/scripts/zero.ckpt-20b-v1.transformed.pb
/scripts/zero.ckpt-20b-v1.optimized.pb
/scripts/zero.ckpt-20b-v1.index
/scripts/zero.ckpt-20b-v1.frozen.pb
/scripts/zero.ckpt-20b-v1.FP32.PLAN
/scripts/zero.ckpt-20b-v1.data-00000-of-00001
/scripts/meta_graph
/scripts/glog.dll
/scripts/gflags.dll
/scripts/checkpoint
/scripts/build_tensorrt_model.exe
